.fonte-1-p5{
    font: 500 .750rem "Red Hat Display", sans-serif;
}
.fonte-1-p7{
    font: 700 .750rem "Red Hat Display", sans-serif;
}
.fonte-2-p7{
    font: 700 1rem "Red Hat Display", sans-serif;
}
.fonte-3-p9{
    font: 900 1.5rem "Red Hat Display", sans-serif;
}