.container{
    background: red;
    max-width: 200px;
    height: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.bottom-20{
    margin-bottom: 20px;
}

.botao{
    border: 2px solid var(--cor-5);
    border-radius: 25px;
    padding: 10px 25px;
    color: var(--cor-5);
}

.botao:hover{
    background: var(--cor-5);
}