.introducao-bg{
    max-width: 1440px;
    min-height: 630px;
    margin: 0 auto;
    background: url(../../imagens/bg-header-desktop.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao{
    max-width: 800px;
    text-align: center;
    padding: 20PX;
}

.introducao p{
    margin-bottom: 40px;
}

