.font-1{
    font: 600 2rem/1.35 "Bai Jamjuree",sans-serif;
}
.font-1-2-6{
    font: 600 1.525rem/1.35 "Bai Jamjuree",sans-serif;
}

.font-1-4{
    font: 400 1.125rem/1.6 "Bai Jamjuree",sans-serif;
}

.font-1-6{
    font: 600 1.125rem/1.6 "Bai Jamjuree", sans-serif;
}